---
import DeadlineCalculator from "../../components/DeadlineCalculator.svelte";
import MainGridLayout from "../../layouts/MainGridLayout.astro";
---

<MainGridLayout title="Deadline 计算器" description="计算任务进度和每日完成量的工具">
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-full">
            <DeadlineCalculator client:load />
        </div>
    </div>
</MainGridLayout>
